@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-image: -webkit-linear-gradient(
    top left,
    #eee 0%,  
    #CAF0F8 45%,
    #90E0EF 100%    
  );
  color: #000;
  /*font-family: 'Anek Telugu', sans-serif;*/
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size:2.2rem; 
  padding-bottom: 1.2rem;
  padding-top: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1.2rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

p,li {
  font-size: 1.4rem;
}

ul {
  padding-top: 1rem;
}

section {
  padding-left: 5rem;
  padding-right: 5rem
  
}


.link {
  font-weight: bold;
  color:  #90E0EF
}

.indexGridImageText {
  @apply w-full text-white text-sm md:text-sm border-b-2 border-secundary h-14 absolute bg-secundary bottom-0 z-10 py-2 hover:bg-colorMain uppercase font-bold transition duration-500 px-1;
}

.btn {
  @apply bg-colorMain p-4 rounded-lg text-white font-bold;
}

.btn:hover {
  @apply bg-fourth text-secundary font-extrabold transform -translate-y-2 transition duration-500 cursor-pointer border-2 border-secundary rounded-xl;
}

/*ANIMATION TO REACT SCROLLING*/

.animate-left {
  animation-duration: 2s;
  animation-name: animate-left;
}
.animate-right {
  animation-duration: 2s;
  animation-name: animate-right;
}

.animate-appear {
  animation-duration: 3s;
  animation-name: animate-appear
}


@keyframes animate-left {
  0% {
    opacity: 0%;
    transform: translate(-200px, 0)
  }
  50%{
    opacity: 100%;
  }
}

@keyframes animate-right {
  0% {
    opacity: 0%;
    transform: translate(200px, 0)
  }
  50%{
    opacity: 100%;
  }
}

@keyframes animate-appear {
  0% {
    opacity: 0%;   
  }
  70%{
    opacity: 100%;
  }
}

/*__________________________________*/





@media (max-width: 768px) {
  
  section {
    padding-left: 1rem;
    padding-right: 1rem}    

  h1 {
    font-size:1.6rem;
  } 
  p,li {
    font-size: 1.2rem;
  }
  


}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */